@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    font-size: 16px;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-image: url('./components/image/image.jpg'); 
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  }
  
  /* Utility Classes */
  .text-center {
    text-align: center;
  }
  
  .mt-4 {
    margin-top: 1rem;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }

  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .hover\\:underline:hover {
    text-decoration: underline;
  }
  
  .text-gray-400 {
    color: #a0aec0;
  }
  
  .bg-gray-800 {
    background-color: #2d3748;
  }
  
  .text-orange-500 {
    color: #ed8936;
  }
  
  /* Button Styles */
  button {
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    background-color: #ed8936;
    color: #ffffff;
    border: none;
    border-radius: 0.25rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #d55a0e;
  }
  
  a:hover {
    color: #bddc4e;
  }
  
  section {
    padding: 4rem 1rem;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 14px;
    }
  
    .container {
      width: 95%;
    }
  }
  